*, *::after, *::before {
  box-sizing: border-box;
  font-family:'Courier New', Courier, monospace;
}

body {
  background: #DAEDBD;
  margin: 0; 
  padding: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
  max-width: 80%;
  flex-direction: column;
}

.credits {
  margin-top: 4rem;
}

.credits p {
  margin-bottom: 0.75rem;
  margin-top: 0rem;
}

.clock {
  width: 300px;
  height: 300px;
  background-color: rgba(255, 255, 255, .8);
  border-radius: 50%;
  border: 2px solid #000;
  position: relative;
  box-shadow: 0 0 1rem rgba(0,0,0,.3)
}

.clock:after{
  content: '';
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #000;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 11;
}

.clock .number {
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  transform: rotate(var(--rotation));
  font-size: 1.75rem;
  font-weight: bold;
  padding: 10px;
}

.clock .number:before {
  content: '';
  display: inline-block;
  width: 5px;
  height: 10px;
  background: #000;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.clock .number:after {
  content: attr(data-number);
  display: inline-block;
  transform: rotate(calc(var(--rotation) * -1));
}

.clock .number[data-number="1"] { --rotation: 30deg; }
.clock .number[data-number="2"] { --rotation: 60deg; }
.clock .number[data-number="3"] { --rotation: 90deg; }
.clock .number[data-number="4"] { --rotation: 120deg; }
.clock .number[data-number="5"] { --rotation: 150deg; }
.clock .number[data-number="6"] { --rotation: 180deg; }
.clock .number[data-number="7"] { --rotation: 210deg; }
.clock .number[data-number="8"] { --rotation: 240deg; }
.clock .number[data-number="9"] { --rotation: 270deg; }
.clock .number[data-number="10"] { --rotation: 300deg; }
.clock .number[data-number="11"] { --rotation: 330deg; }
.clock .number[data-number="12"] { --rotation: 360deg; }

.clock .number[data-number="10"],
.clock .number[data-number="11"] {
  padding-top: 15px;
}

.clock .hand {
  --rotation: 0;
  position: absolute;
  bottom: 50%;
  left: 50%;
  transform-origin: bottom;
  transform: translateX(-50%) rotate(calc(var(--rotation) * 1deg));
  background: #000;
  border: 1px solid #fff;
  z-index: 10;
  border-radius: 1em 1em 0 0;
}

.clock .hand.second {
  width: 3px;
  height: 40%;
  background: #ff0000;
}

.clock .hand.minute {
  width: 7px;
  height: 35%;
}

.clock .hand.hour {
  width: 10px;
  height: 30%;
}