@import url("../fonts/qanelas-soft/qanelas-font.css");

/* Reset */
html {
  box-sizing: border-box;
  font-size: 18px;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
img {
  max-width: 100%;
  height: auto;
}

/* General Styles */
body {
  background: rgb(255, 255, 255);
  background: linear-gradient(
    45deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(242, 242, 242, 1) 50%,
    rgba(222, 222, 222, 1) 100%
  );
  padding: 0;
  margin: 0;
  transition: all 0.3s ease-in-out;
  padding-top: 56px;
  font-family: "qanelas_soft", sans-serif;
  color: #373435;
  min-height: 100vh;
}
a {
  color: #ba25fb;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "qanelas_soft", sans-serif;
}

#hayama-logo {
  height: 100%;
  margin: 0;
  width: 20vw;
}
#hayama-logo > a {
  font-size: 0;
  padding: 5px;
  display: flex;
  align-items: center;
  height: 90%;
}
#hayama-logo > a:before {
  content: "";
  width: 90%;
  height: 90%;
  margin: auto;
  background: url("../img/jony-logo-alt.png") no-repeat center;
  background-size: contain;
}
.hayama-dark #hayama-logo > a:before {
  background: url("../img/jony-logo.png") no-repeat center;
  background-size: contain;
}

#hayama-main-header {
  display: flex;
  background: #fff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;
  height: 56px;
  transition: all 0.3s ease-in-out;
}

.hayama-dark #hayama-main-header {
  background: #373435;
}
.hayama-dark #hayama-main-header a {
  color: #fff;
}

.hayama-dark {
  background: rgb(38, 38, 38);
  background: linear-gradient(45deg, rgba(38, 38, 38, 1) 0%, rgba(56, 56, 56, 1) 50%, rgba(71, 71, 71, 1) 100%);
  color: #fff;
}

.hayama-section {
  max-width: 1080px;
  margin: 40px auto;
  background: #fff;
  box-shadow: 0 5px 5px rgb(0 0 0 / 30%);
  border-radius: 8px;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
  width: 100%;
}

.hayama-dark .hayama-section {
  background: #383838;
}

.hayama-section-title {
  background: rgb(105, 242, 198);
  background: linear-gradient(
    130deg,
    rgba(105, 242, 198, 1) 0%,
    rgba(127, 151, 216, 1) 50%,
    rgba(186, 37, 251, 1) 100%
  );
  margin-top: 0;
  padding: 10px 20px;
  color: #fff;
  transition: all 0.3s ease-in-out;
}

.hayama-section-title.hayama-alt {
  background: rgb(249, 114, 148);
  background: linear-gradient(
    225deg,
    rgba(249, 114, 148, 1) 0%,
    rgba(246, 170, 104, 1) 50%,
    rgba(246, 226, 99, 1) 100%
  );
}

.hayama-dark .hayama-section-title {
  color: #383838;
}

.hayama-credits {
  margin-top: 4rem;
  text-align: center;
}

.hayama-credits p {
  margin-bottom: 0.75rem;
  margin-top: 0rem;
}

.hayama-credits ul {
  margin: 0;
  padding: 0;
}

.hayama-credits li {
  list-style: none;
}

.hayama-credits li:before {
  content: "- ";
}
