@import url("https://fonts.googleapis.com/css?family=Montserrat|Roboto+Condensed");

/* Reset */
html { box-sizing: border-box; font-size: 14px; }
*, *:before, *:after { box-sizing: inherit; }
img { max-width: 100%; height: auto; }

/* My Styles */
body{ background: url('../img/icons-background.svg') repeat 25px 25px #efefef; padding:0; margin:0; transition: all .3s ease-in-out; padding-top:56px; font-family: "Roboto Condensed", sans-serif; color:#282a36 }
a{ color:#bd93f3; }
h1, h2, h3, h4, h5, h6{ font-family: "Montserrat", sans-serif; }

.button{ display:inline-block; padding:5px 15px; background: #ff79c6; color:#fff; text-decoration:none; font-size:16px; transition: all .3s ease-in-out}
.button:hover{ background: #bd93f3; }
button.button{ border:none; cursor:pointer; }

#site-logo{font-size:0;background: rgb(189, 147, 243);padding:5px;display:flex;align-items: center;width:20vw;}
#site-logo:before{ content: ''; width:90%; height:90%; margin:auto; background: url('../img/logo-jonyhayama-white.png') no-repeat center; background-size:contain; }

#main-header{ display:flex; background:#fff; box-shadow:0 0 5px rgba(0,0,0,0.3); position:fixed; top:0; left:0; right:0; z-index:99; height:56px; transition: all .3s ease-in-out; }
#main-header.is-hidden{ top:-56px; }
#main-header.is-visible { top:0; }

.menu{ display:flex; height:100%; margin:0; padding:0; }
.menu li{ list-style:none; }
.menu li a{ display:flex; height:100%; background:transparent; padding:0 15px; align-items:center; text-decoration:none; font-weight:bold; transition: all .3s ease-in-out}
.menu li a:hover{ background: rgba(189, 147, 243, .6); color:#fff; }
.menu.social-menu a{ font-size:0; padding:0 5px; font-weight:normal; }
.menu.social-menu a i{ font-size:24px }

#main-navigation{ height:100%; top:0; font-family: "Montserrat", sans-serif; width:100%; }

.btn-night-mode-wrapper{ padding:0  }
#btn-night-mode{display:flex; font-size:0; position:relative; width:40px; height:100%; transition:all .3s ease-in-out;}
#btn-night-mode:before,
#btn-night-mode:after{content: ''; background: url('../img/icon-moon.svg') no-repeat center; background-size:26px; display:block; position:absolute; top:0; left:0; right:0; bottom:0; transition:all .3s ease-in-out; }
#btn-night-mode:after{content: ''; background-image: url('../img/icon-sun.svg'); opacity:0; }
#btn-night-mode:hover{background:#3C4556;}

.btn-mobile-nav-wrapper{ display:none; }

#hero-section{max-width:100%; margin-top:0; box-shadow:none; background: url('../img/hero-background.jpg') no-repeat fixed; background-size: cover; min-height: calc(100vh - 56px); display:flex; flex-direction: column; padding:30px; align-items:center; justify-content:center; position:relative; transition: all .3s ease-in-out;}
#hero-section > *{ z-index:2; }
#hero-section:before{content:'';top:0;left:0;right:0;bottom:0;background:rgba(189, 147, 243, .6); mix-blend-mode: luminosity; display:block;position:absolute; transition: all .3s ease-in-out;
  webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  opacity: 1
}
#hero-section h2{ font-size:32px; font-weight:100; margin-bottom:0; background:none; color:#282a36; }
#hero-section p{ font-size: 16px; font-weight:100; font-family: "Montserrat"; margin-bottom: 60px; }
#hero-section div{ font-size:0; }
#hero-section a.button{ font-size:20px; padding:10px 20px; text-transform:uppercase; margin:0 10px; }

section{ max-width: 1080px; margin:40px auto; background:#fff; box-shadow:0 5px 5px rgba(0,0,0,0.3); border-radius:8px; overflow:hidden; transition:all .3s ease-in-out; }
section > h2:first-child{ background:rgb(189, 147, 243); margin-top:0; padding:10px 20px; color:#fff; transition:all .3s ease-in-out; }
section > p,
section > h3{ padding-left:20px; text-align: center; }

.gallery {margin:0;padding:0;display:flex;flex-direction: row;justify-content:center;flex-wrap: wrap; line-height: 0;}
.gallery-item { display: inline-block; text-align: center; vertical-align: top; width: 100%; }
.gallery .gallery-item > a{ width:100%; }
.gallery-columns-1 .gallery-item { width:100%; }
.gallery-columns-2 .gallery-item { width: 50%; }
.gallery-columns-3 .gallery-item { width: 33.33%; }
.gallery-columns-4 .gallery-item { width: 25%; }
.gallery-columns-5 .gallery-item { width: 20%; }
.gallery-columns-6 .gallery-item { width: 16.66%; }
.gallery-columns-7 .gallery-item { width: 14.28%; }
.gallery-columns-8 .gallery-item { width: 12.5%; }
.gallery-columns-9 .gallery-item { width: 11.11%; }

.links-gallery a{display:block; position:relative;}
.links-gallery a:before{content:''; display:block; position:absolute; top:0; right:0; bottom:0; left:0; background:rgba(255, 121, 198, 0.6); transition:all .3s ease-in-out; opacity:0; }
.links-gallery a:hover:before{opacity:1}
.links-gallery a:after{ 
    font-family: "Font Awesome 5 Free"; -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
    font-weight: 900;
}
.links-gallery a:after{ content:"\f0c1"; position:absolute; top:50%; z-index:99; left:50%; transform:translate(-50%,300%); font-size:42px; color: #fff; transition:all .3s ease-in-out; opacity:0; } 
.links-gallery a:hover:after{ transform:translate(-50%,-50%); opacity:1;}

#sobre .gallery{ line-height:1.5em; align-items:center; }
#sobre .gallery .gallery-item{ padding:20px; }
#sobre .gallery .gallery-item + .gallery-item{ width:33.3%; }
#sobre img{ border-radius:50%; }

#parcerias .gallery .gallery-item{ padding:20px; }
#parcerias .gallery .gallery-item a{ padding:5px; border-radius: 10px; overflow: hidden; }
.night-mode #parcerias .gallery .gallery-item a{ background: rgba(188, 194, 205, 0.8); }

#servicos{ padding-bottom:15px; }
#servicos .gallery{ line-height:1.5em;  }
#servicos .gallery .gallery-item{ margin:0 10px; }
#servicos .gallery .gallery-item a{ text-decoration: none; display:block; padding:20px; transition:all .3s ease-in-out; border-radius:10px; background:rgba(188, 194, 205, 0.6); }
#servicos .gallery .gallery-item strong{ display:flex; margin-top:15px; transition:all .3s ease-in-out; height:2em; align-items:center; color:#282a36; justify-content:center; }
#servicos .gallery .gallery-item .featured-image{ width:80%; margin:0 auto;}
#servicos .gallery .gallery-item a:hover{ background: #BCC2CD }
#servicos .gallery .gallery-item.active a{ background:#ff79c6; }
#servicos .gallery .gallery-item.active strong{ color:#fff; }
#servicos .tab-content{ padding:0 20px; width:70%; margin:30px auto; }
#servicos .tab-content h3{ text-align:center;}

#servicos{overflow-x:hidden; position:relative;}
@keyframes opac{from{left:-300px;opacity:0} to{left:0;opacity:1}}
.tab-content{ display:none; animation:opac 0.8s; position:relative; }
.tab-content.active{ display:block; }

.accordion > .accordion-title{margin:0; padding:5px 20px; border-bottom:1px solid #ddd; cursor:pointer;}
.accordion > .accordion-title:first-child{ border-top:1px solid #ddd;}
.accordion > .accordion-title + div{ max-height: 0; overflow:hidden; transition: all .3s linear; padding:0 20px; }
.accordion > .accordion-title.active + div{ max-height: 90vh; padding:20px; border-bottom:1px solid #ddd; overflow: auto }

#contato form{ width:50%; margin:0 auto; padding-bottom:15px; }
#contato form input,
#contato form textarea{ width:100%; margin:5px 0; padding:0 15px; line-height:2em; font-family: 'Roboto Condensed' }
#contato form textarea{ resize:none; height:100px;}
#contato form button{ margin: 0 auto; width:80px; display:block; }

footer{ text-align:center; padding-bottom:25px; }

.slider { height: auto; position: relative; overflow: hidden; display: flex; flex-flow: row nowrap; align-items: flex-end; justify-content: center; }
.slider__nav { margin: 0 5px; border-radius: 50%; z-index: 10; cursor: pointer; outline: none;  -webkit-appearance: none; appearance: none; -webkit-backface-visibility: hidden; backface-visibility: hidden; transition: all .3s ease-in-out; width: 10px; height: 10px; background: #282a36; }
.slider__nav:checked{ background: #bd93f3; }
.slider__inner { position: absolute; top: 0; left: 0; width: 100%; height: 100%; transition: left 0.4s; display: flex; flex-flow: row nowrap; }
.slider__contents { height: 100%; text-align: center; display: flex; flex: 1; flex-flow: column nowrap; align-items: center; justify-content: flex-start; }

/* Night Mode */
body.night-mode{ background:url('../img/icons-background-dark.svg') repeat 25px 25px #3C4556; color:#BCC2CD; }

body.night-mode #main-header{ background: #282a36 }

body.night-mode #btn-night-mode:before{opacity:0;}
body.night-mode #btn-night-mode:after{opacity:1}

body.night-mode #hero-section h2{ color:#BCC2CD; }
body.night-mode #hero-section:before{ mix-blend-mode: normal; background: rgba(60, 69, 86, .8);}

body.night-mode section{ background:rgb(45, 51, 62) }
body.night-mode section > h2:first-child{ background:#282a36; color:rgb(189, 147, 243); }

body.night-mode .slider__nav{ background:#BCC2CD; }
body.night-mode .slider__nav:checked{ background:#bd93f3; }

body.night-mode #servicos .gallery-item a{ background:#282a36; }
body.night-mode #servicos .gallery-item:not(.active) a:hover{ background: rgba(40, 42, 54, 0.4) }
body.night-mode #servicos .gallery-item a strong{ color:#BCC2CD; }

body.night-mode footer{ color: #fff; }

@media all and (max-width: 767px) {
    #main-header{top:0!important; justify-content:space-between; }
    #site-logo{ width:100%; max-width:300px; }
    #main-navigation{position: fixed;top:56px;left:0;right:0;bottom:0;background:rgba(189, 147, 243, 1);height:100%;z-index:9999;max-height: none; transform:translateX(100%); transition:all .3s ease-in-out;}
    body.mobile-menu-active #main-navigation{ transform: translateX(0);}
    #main-navigation .menu{ flex-direction:column; justify-content:center;}
    #main-navigation .menu a{ color:#fff; padding:20px; width:100%; display:block; text-align:center; }
    #main-navigation .menu a:hover{background:#ff79c6;}
    #secondary-navivation{padding-left:20px; padding-right:5px; }
    .btn-mobile-nav-wrapper{ display:block; }
    .btn-mobile-nav-wrapper a{ display:flex; height:100%; align-items:center; padding: 10px; text-decoration:none; font-size:1.5em;}

    #hero-section{ width:100%; }
    #hero-section h2{ text-align:center; }
    #hero-section a.button{ margin:15px auto; display:block; }

    #servicos .tab-content{ width:100%; }
    #servicos .gallery .gallery-item {width:100%; margin:5px 20px; }
    #servicos .gallery .gallery-item img{ display:none; }
    #servicos .gallery .gallery-item a{ padding:5px; }
    #servicos .gallery .gallery-item strong{ margin:0; }

    #sobre .gallery{ flex-direction:column-reverse}
    #sobre .gallery .gallery-item{ width:100%; }
    #sobre .gallery .gallery-item + .gallery-item{ width:60%;  padding-bottom:0; }

    #contato form{ width:80%; }

    .accordion > .accordion-title.active + div{ max-height: 1000px;}

    .gallery .gallery-item{ width:50%; }
    section{ width:80%; }
}