@import url("../fonts/qanelas-soft/qanelas-font.css");

/* Reset */
html { box-sizing: border-box; font-size: 18px; }
*, *:before, *:after { box-sizing: inherit; }
img { max-width: 100%; height: auto; }

/* My Styles */
body{ 
  background: rgb(255,255,255);
  background: linear-gradient(45deg, rgba(255,255,255,1) 0%, rgba(242,242,242,1) 50%, rgba(222,222,222,1) 100%);
  padding:0; margin:0; transition: all .3s ease-in-out; padding-top:56px; font-family: "qanelas_soft", sans-serif; color:#373435 }
a{ color:#BA25FB; }
h1, h2, h3, h4, h5, h6{ font-family: "qanelas_soft", sans-serif; }

.button{ display:inline-block; padding:5px 15px; background: #69f2c6; color:#BA25FB; text-decoration:none; font-size:16px; font-weight:600; transition: all .3s ease-in-out}
.button:hover{ background: #BA25FB; color:#69f2c6 }
button.button{ border:none; cursor:pointer; }

#site-logo{font-size:0; padding:5px;display:flex;align-items: center;width:20vw;}
#site-logo:before{ content: ''; width:90%; height:90%; margin:auto; background: url('../img/jony-logo-alt.png') no-repeat center; background-size:contain; }
.night-mode #site-logo:before{ background: url('../img/jony-logo.png') no-repeat center; background-size:contain; }

#main-header{ display:flex; background:#fff; box-shadow:0 0 5px rgba(0,0,0,0.3); position:fixed; top:0; left:0; right:0; z-index:99; height:56px; transition: all .3s ease-in-out; }

.menu{ display:flex; height:100%; margin:0; padding:0; }
.menu li{ list-style:none; }
.menu li a{ display:flex; height:100%; color:#000; background:transparent; padding:0 15px; align-items:center; text-decoration:none; font-weight:bold; transition: all .3s ease-in-out}
.menu li a:hover{ background: rgba(186, 37, 251,.6); color:#fff; }
.menu.social-menu a{ font-size:0; padding:0 5px; font-weight:normal; }
.menu.social-menu a i{ font-size:24px }

#main-navigation{ height:100%; top:0; font-family: "qanelas_soft", sans-serif; width:100%; }

.btn-night-mode-wrapper{ padding:0  }
#btn-night-mode{display:flex; font-size:0; position:relative; width:40px; height:100%; transition:all .3s ease-in-out;}
#btn-night-mode:before,
#btn-night-mode:after{content: ''; background: url('../img/icon-moon.svg') no-repeat center; background-size:26px; display:block; position:absolute; top:0; left:0; right:0; bottom:0; transition:all .3s ease-in-out; }
#btn-night-mode:after{content: ''; background-image: url('../img/icon-sun.svg'); opacity:0; }
#btn-night-mode:hover{background:#BA25FB;}

.btn-mobile-nav-wrapper{ display:none; }

section{ max-width: 1080px; margin:40px auto; background:#fff; box-shadow:0 5px 5px rgba(0,0,0,0.3); border-radius:8px; overflow:hidden; transition:all .3s ease-in-out; }
section > h2:first-child{ 
  background: rgb(105,242,198);
  background: linear-gradient(130deg, rgba(105,242,198,1) 0%, rgba(127,151,216,1) 50%, rgba(186,37,251,1) 100%);
  margin-top:0; padding:10px 20px; color:#fff; transition:all .3s ease-in-out; }
section:nth-child(even) > h2:first-child{
  background: rgb(249,114,148);
  background: linear-gradient(225deg, rgba(249,114,148,1) 0%, rgba(246,170,104,1) 50%, rgba(246,226,99,1) 100%);
}
section > p,
section > h3{ padding-left:20px; text-align: center; }
section > h3 + .sub-title { text-align: center; margin-top: -20px;}

.gallery {margin:0;padding:0;display:flex;flex-direction: row;justify-content:center;flex-wrap: wrap; line-height: 0;}
.gallery-item { display: inline-block; text-align: center; vertical-align: top; width: 100%; }
.gallery .gallery-item > a{ width:100%; }
.gallery-columns-1 .gallery-item { width:100%; }
.gallery-columns-2 .gallery-item { width: 50%; }
.gallery-columns-3 .gallery-item { width: 33.33%; }
.gallery-columns-4 .gallery-item { width: 25%; }
.gallery-columns-5 .gallery-item { width: 20%; }
.gallery-columns-6 .gallery-item { width: 16.66%; }
.gallery-columns-7 .gallery-item { width: 14.28%; }
.gallery-columns-8 .gallery-item { width: 12.5%; }
.gallery-columns-9 .gallery-item { width: 11.11%; }

.links-gallery a{display:block; position:relative; overflow:hidden;}
.links-gallery a:before{content:''; display:block; position:absolute; top: 0; right: 0; bottom: 0; left: 0; transform:scale(2);
  background: rgba(105,242,198, 0.6);
  background: linear-gradient(130deg, rgba(105,242,198,0.6) 0%, rgba(127,151,216,0.6) 50%, rgba(186,37,251,0.6) 100%);
  transition:all .3s ease-in-out; opacity:0; z-index: 2; }
  section:nth-child(even) .links-gallery a:before{
    background: rgba(249,114,148, 0.6);
    background: linear-gradient(225deg, rgba(249,114,148,0.6) 0%, rgba(246,170,104,0.6) 50%, rgba(246,226,99,0.6) 100%);
  }
.links-gallery a img{ transition: all .3s ease-in-out;}
.links-gallery a:hover:before{opacity:1; transform:scale(1)}
.links-gallery a:hover img{ filter: grayscale(100%); }
.links-gallery a:after{ 
    font-family: "Font Awesome 5 Free"; -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
    font-weight: 900;
}
.links-gallery a:after{ content:"\f0c1"; position:absolute; top:50%; z-index:99; left:50%; transform:translate(-50%,300%); font-size:42px; color: #fff; transition:all .3s ease-in-out; opacity:0; } 
.links-gallery a:hover:after{ transform:translate(-50%,-50%); opacity:1;}

#sobre .gallery{ line-height:1.5em; align-items:center; }
#sobre .gallery .gallery-item{ padding:20px; }
#sobre .gallery .gallery-item + .gallery-item{ width:33.3%; }
#sobre img{ border-radius:50%; }

#blog h2 { margin-bottom: 0;}
#blog-posts { padding: 15px 0; }
#blog-posts .post { display: flex; flex-wrap: wrap; flex-direction: row; align-items: center; padding: 15px 30px; }
#blog-posts .post-cover { width: 50%; max-width: 350px; font-size: 0;}
#blog-posts .post-content { flex: 1; padding-left: 20px; }
#blog-posts h3 { margin: 0; }
#blog-posts h3 a { text-decoration: none; color: #BA25FB; transition: all .3s ease-in-out; }
#blog-posts h3 a:hover { color: #69f2c6 }
#blog-posts .post-meta { font-size: 0.85em; padding: 5px 0 15px; }

#blog-posts.is-loading, #blog-posts.has-error{ text-align: center; padding: 30px; }
#blog-posts.is-loading:before{ content: 'Carregando...' }

.night-mode #blog-posts h3 a { color: #69f2c6; }
.night-mode #blog-posts h3 a:hover { color: #BA25FB; }

#parcerias .gallery .gallery-item{ padding:20px; }
#parcerias .gallery .gallery-item a{ padding:5px; border-radius: 10px; overflow: hidden; }
.night-mode #parcerias .gallery .gallery-item a{ background: rgba(188, 194, 205, 0.8); }

#just-for-fun,
#servicos{ padding-bottom:15px; }
#servicos .gallery{ line-height:1.5em;  }
#servicos .gallery .gallery-item{ margin:0 10px; }
#servicos .gallery .gallery-item a{ text-decoration: none; display:block; padding:20px; transition:all .3s ease-in-out; border-radius:10px; background:rgba(188, 194, 205, 0.6); }
#servicos .gallery .gallery-item strong{ display:flex; margin-top:15px; transition:all .3s ease-in-out; height:2em; align-items:center; color:#373435; justify-content:center; }
#servicos .gallery .gallery-item .featured-image{ width:80%; margin:0 auto;}
#servicos .gallery .gallery-item a:hover{ background: #BCC2CD }
#servicos .gallery .gallery-item.active a{ background:rgba(186, 37, 251,.6); }
#servicos .gallery .gallery-item.active strong{ color:#fff; }
#servicos .tab-content{ padding:0 20px; width:70%; margin:30px auto; }
#servicos .tab-content h3{ text-align:center;}

#servicos{overflow-x:hidden; position:relative;}
@keyframes opac{from{left:-300px;opacity:0} to{left:0;opacity:1}}
.tab-content{ display:none; animation:opac 0.8s; position:relative; }
.tab-content.active{ display:block; }

.accordion > .accordion-title{margin:0; padding:5px 20px; border-bottom:1px solid #ddd; cursor:pointer;}
.accordion > .accordion-title:first-child{ border-top:1px solid #ddd;}
.accordion > .accordion-title + div{ max-height: 0; overflow:hidden; transition: all .3s linear; padding:0 20px; }
.accordion > .accordion-title.active + div{ max-height: 90vh; padding:20px; border-bottom:1px solid #ddd; overflow: auto }

#just-for-fun .gallery-item { padding: 5px; }
#just-for-fun .gallery-item a{ line-height: 1; text-decoration: none; border-radius: 5px; overflow: hidden; }
#just-for-fun .gallery-item img{ border-radius: 5px; }
#just-for-fun .gallery-item strong,
#just-for-fun .gallery-item span{ display: block; }
#just-for-fun .gallery-item strong{ font-size: 1.25em; margin: .5em 0; color: #000}
#just-for-fun .gallery-item span{ padding-bottom: 1em; }

#contato form{ width:50%; margin:0 auto; padding-bottom:15px; }
#contato form input,
#contato form textarea{ width:100%; margin:5px 0; padding:0 15px; line-height:2em; font-family: "qanelas_soft", sans-serif; }
#contato form textarea{ resize:none; height:100px;}
#contato form button{ margin: 0 auto; width:80px; display:block; }

footer{ text-align:center; padding-bottom:25px; }

.slider { height: auto; position: relative; overflow: hidden; display: flex; flex-flow: row nowrap; align-items: flex-end; justify-content: center; }
.slider__nav { margin: 0 5px; border-radius: 50%; z-index: 10; cursor: pointer; outline: none;  -webkit-appearance: none; appearance: none; -webkit-backface-visibility: hidden; backface-visibility: hidden; transition: all .3s ease-in-out; width: 10px; height: 10px; background: #373435; }
.slider__nav:checked{ background: #BA25FB; }
.slider__inner { position: absolute; top: 0; left: 0; width: 100%; height: 100%; transition: left 0.4s; display: flex; flex-flow: row nowrap; }
.slider__contents { height: 100%; text-align: center; display: flex; flex: 1; flex-flow: column nowrap; align-items: center; justify-content: flex-start; }

.gallery-item[data-technologies]{ position: relative; }
.gallery-item .technologies { position: absolute; top: 5px; left: 5px; z-index: 3; }
.gallery-item .technologies > span { display: inline-block; width: 32px; height: 32px; margin-right: 5px; background: rgba(255,255,255, 0.8) no-repeat center; border: 3px solid transparent; border-radius: 5px; background-size: contain; box-shadow: 0 0 5px rgba(0,0,0,0.3)}
.gallery-item .technologies > span[data-tech="WordPress"] { background-image: url(../technologies/wordpress.png) }
.gallery-item .technologies > span[data-tech="VueJS"] { background-image: url(../technologies/vue.png) }
.gallery-item .technologies > span[data-tech="Ruby on Rails"] { background-image: url(../technologies/ror.png) }
.gallery-item .technologies > span[data-tech="PHP"] { background-image: url(../technologies/php.png) }
.gallery-item .technologies > span[data-tech="React"] { background-image: url(../technologies/react.png) }
.gallery-item .technologies > span[data-tech="AdonisJS"] { background-image: url(../technologies/adonis.png) }

/* Night Mode */
body.night-mode{ background: rgb(38,38,38);
  background: linear-gradient(45deg, rgba(38,38,38,1) 0%, rgba(56,56,56,1) 50%, rgba(71,71,71,1) 100%);
  color:#fff;
}

body.night-mode #main-header{ background: #373435 }
body.night-mode #main-header a{ color: #fff }

body.night-mode #btn-night-mode:before{opacity:0;}
body.night-mode #btn-night-mode:after{opacity:1}

body.night-mode section{ background:#383838 }
body.night-mode section > h2:first-child{ color:#383838 }

body.night-mode .slider__nav{ background:#BCC2CD; }
body.night-mode .slider__nav:checked{ background:#BA25FB; }

body.night-mode #servicos .gallery-item a{ background:#373435; }
body.night-mode #servicos .gallery-item:not(.active) a:hover{ background: #474747 }
body.night-mode #servicos .gallery-item a strong{ color:#BCC2CD; }

body.night-mode footer{ color: #fff; }

body.night-mode #just-for-fun .gallery-item strong{ color: #fff }

@media all and (max-width: 767px) {
    #main-header{top:0!important; justify-content:space-between; }
    #site-logo{ width:100%; max-width:300px; }
    #main-navigation{position: fixed;top:56px;left:0;right:0;bottom:0;background:rgba(186, 37, 251,1);height:100%;z-index:9999;max-height: none; transform:translateX(100%); transition:all .3s ease-in-out;}
    body.mobile-menu-active #main-navigation{ transform: translateX(0);}
    #main-navigation .menu{ flex-direction:column; justify-content:center;}
    #main-navigation .menu a{ color:#fff; padding:20px; width:100%; display:block; text-align:center; }
    #main-navigation .menu a:hover{background:#69f2c6;}
    #secondary-navivation{padding-left:20px; padding-right:5px; }
    .btn-mobile-nav-wrapper{ display:block; }
    .btn-mobile-nav-wrapper a{ display:flex; height:100%; align-items:center; padding: 10px; text-decoration:none; font-size:1.5em;}

    #servicos .tab-content{ width:100%; }
    #servicos .gallery .gallery-item {width:100%; margin:5px 20px; }
    #servicos .gallery .gallery-item img{ display:none; }
    #servicos .gallery .gallery-item a{ padding:5px; }
    #servicos .gallery .gallery-item strong{ margin:0; }

    #sobre .gallery{ flex-direction:column-reverse}
    #sobre .gallery .gallery-item{ width:100%; }
    #sobre .gallery .gallery-item + .gallery-item{ width:60%;  padding-bottom:0; }

    #contato form{ width:80%; }

    .accordion > .accordion-title.active + div{ max-height: 1000px;}

    .gallery .gallery-item{ width:50%; }
    section{ width:80%; }

    #blog-posts .post-cover{ max-width: 100%; width: 100%; }
    #blog-posts .post-content{ padding: 20px 0 40px 0; }
}